---
// Base Layout
import BaseLayout from '../layouts/BaseLayout.astro';

// Global Styles
import '../styles/myCustomStyles.css';

// Components

---

<BaseLayout>

	<script>
		
		// Random Pokemon IDs from gen1 to gen4
		const randomPokemon = Math.floor(Math.random() * 493) + 1;

		// Source
		const dataSource = 'https://pokeapi.co/api/v2/pokemon/' + randomPokemon;

		// Get page	elements
		const pokemonName = document.querySelector('#pokemonName');
		const pokemonTypes = document.querySelector('#pokemonTypes');
		const pokemonAbilities = document.querySelector('#pokemonAbilities');
		const pokemonArt = document.querySelector('#pokemonArt') as HTMLImageElement;
		const pokemonFrontSprite = document.querySelector('#pokemonFrontSprite') as HTMLImageElement;
		const pokemonBackSprite = document.querySelector('#pokemonBackSprite') as HTMLImageElement;
		const pokemonMoves = document.querySelector('#pokemonMoves');

		// Background Color based on primary type
		const body = document.querySelector('body');
		const color = {
			normal: '#A8A77A',
			fire: '#EE8130',
			water: '#6390F0',
			electric: '#F7D02C',
			grass: '#7AC74C',
			ice: '#96D9D6',
			fighting: '#C22E28',
			poison: '#A33EA1',
			ground: '#E2BF65',
			flying: '#A98FF3',
			psychic: '#F95587',
			bug: '#A6B91A',
			rock: '#B6A136',
			ghost: '#735797',
			dragon: '#6F35FC',
			dark: '#705746',
			steel: '#B7B7CE',
			fairy: '#D685AD'
		};

		// Fetch and Set
		fetch(dataSource)
		.then( response => response.json())
		.then( theData => {

			pokemonName.textContent = 'Name: ' + theData.species.name.charAt(0).toUpperCase() + theData.species.name.slice(1);
			pokemonTypes.textContent = 'Type: ' + theData.types.map( type => type.type.name ).join('/');
			//pokemonAbilities.textContent = 'Abilities: ' + theData.abilities.map( ability => ability.ability.name ).join(', ');
			pokemonArt.src = theData.sprites.other.dream_world.front_default;
			pokemonFrontSprite.src = theData['sprites']['versions']['generation-v']['black-white']['animated']['front_default'];
			pokemonBackSprite.src = theData['sprites']['versions']['generation-v']['black-white']['animated']['back_default'];
			//^ properties with hyphens must be accessed with bracket notation

			// Get 4 random moves
			// const moves = theData.moves;
			// const randomMoves = moves.sort(() => 0.5 - Math.random()).slice(0, 4);

			//pokemonMoves.textContent = 'Moves: ' + theData.moves.map( move => move.move.name ).join(', ');

			// Set background color based on primary type
			switch(theData.types[0].type.name) {
			case 'normal':
				body.style.backgroundColor = color.normal;
				break;
			case 'fire':
				body.style.backgroundColor = color.fire;
				break;
			case 'water':
				body.style.backgroundColor = color.water;
				break;
			case 'electric':
				body.style.backgroundColor = color.electric;
				break;
			case 'grass':
				body.style.backgroundColor = color.grass;
				break;
			case 'ice':
				body.style.backgroundColor = color.ice;
				break;
			case 'fighting':
				body.style.backgroundColor = color.fighting;
				break;
			case 'poison':
				body.style.backgroundColor = color.poison;
				break;
			case 'ground':
				body.style.backgroundColor = color.ground;
				break;
			case 'flying':
				body.style.backgroundColor = color.flying;
				break;
			case 'psychic':
				body.style.backgroundColor = color.psychic;
				break;
			case 'bug':
				body.style.backgroundColor = color.bug;
				break;
			case 'rock':
				body.style.backgroundColor = color.rock;
				break;
			case 'ghost':
				body.style.backgroundColor = color.ghost;
				break;
			case 'dragon':
				body.style.backgroundColor = color.dragon;
				break;
			case 'dark':
				body.style.backgroundColor = color.dark;
				break;
			case 'steel':
				body.style.backgroundColor = color.steel;
				break;
			case 'fairy':
				body.style.backgroundColor = color.fairy;
				break;
			default:
				body.style.backgroundColor = 'white';
			}

			function convertTF(bool) {
				return bool ? 'Yes' : 'No';
			}

			function convert0toDash(num) {
				return num === 0 ? '-' : num;
			}

			// Generate table rows for abilities
			const abilitiesTableBody = document.querySelector('#abilitiesTable') as HTMLElement;
			abilitiesTableBody.innerHTML = theData.abilities.map(ability => `
				<tr>
					<td>${ability.ability.name}</td>
					<td>${convertTF(ability.is_hidden)}</td>
				</tr>
			`).join('');

			// Generate table rows for moves
			const movesTableBody = document.querySelector('#movesTable') as HTMLElement;
			movesTableBody.innerHTML = theData.moves.map(move => `
				<tr>
					<td>${move.move.name}</td>
					<td>${convert0toDash(move.version_group_details[0].level_learned_at)}</td>
					<td>${move.version_group_details[0].move_learn_method.name}</td>
				</tr>
			`).join('');
			
			// Set table background color to be lighter than body
			movesTableBody.style.backgroundColor = 'rgba(255, 255, 255, 0.6)';
			abilitiesTableBody.style.backgroundColor = 'rgba(255, 255, 255, 0.6)';

		});

	</script>

	<h1> Who's that pokemon? </h1>


	<h2 id="pokemonName"> Name: </h2>
	<img id="pokemonArt" src="" alt="Artwork">
	<h3 id="pokemonTypes"> Type: </h2>
	<h3 id="pokemonAbilities"> Abilities: </h2>
		<div class="overflow-x-auto w-72 justify-self-center shadow">
			<table class="table rounded-sm">
			  <tbody id="abilitiesTable">
				<!-- head -->
				<thead style="background-color: rgba(195, 202, 208, 0.500);">
					<tr>
					  <th>Ability</th>
					  <th>Hidden?</th>
					</tr>
				</thead>
			  </tbody>
			</table>
		  </div>	

<!-- Gen 5 Animated Sprites -->
	<h3 id="pokemonSprites"> Sprites: </h2>
		<div class="block grid grid-cols-2 gap-1 justify-self-center box-border" style="background-color: rgba(255, 255, 255, 0.4);">
			<img id="pokemonFrontSprite" class="sprite" src="" alt="Front_Sprite">
			<img id="pokemonBackSprite" class="sprite" src="" alt="Back_Sprite">
		</div>

<!-- Use a table to list out moves -->
	<h3 id="pokemonMoves"> Moves:</h3>
	<div class="overflow-x-auto w-96 max-h-80 justify-self-center shadow">
    <table class="table">
	  <tbody id="movesTable">
		<!-- head -->
		<thead style="background-color: rgba(195, 202, 208, 0.500);">
			<tr>
			  <th>Move Name</th>
			  <th>Learned At</th>
			  <th>Method</th>
			</tr>
		</thead>
	  </tbody>
    </table>
  </div>	


	
	

</BaseLayout>